<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-pickup-call-card status="hold" updatedAt="17/03/2022 16:29"
   createdAt="24/03/2021" notes="we have two buys that are full, one with plastic and another one with glasses"></app-pickup-call-card>
   <app-pickup-call-card status="processing" updatedAt="24/03/2022" createdAt="24/03/2022"
   notes="we have two buys that are fulls"></app-pickup-call-card>
   <app-pickup-call-card status="finished" updatedAt="24/03/2022" createdAt="24/03/2022"
   notes="finished notes will be here" value="$ 214,000"></app-pickup-call-card>

</ion-content>
