<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://images.adsttc.com/media/images/6065/d399/f91c/8162/e000/0ed9/slideshow/google-maps-rotas-pixabay.jpg?1617286031" alt="">
  <ion-card>
    <ion-card-content>
      <p>Address : Babesa</p>
      <p>City : Thimphu</p>
      <p>Postal Code : 11001</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="insert">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="success">Create pickup call</ion-button>
</ion-content>
