<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Chharo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item color="success">
      <ion-avatar slot="start">
        <img src="https://www.shareicon.net/data/128x128/2016/09/01/822761_user_512x512.png" alt="">
      </ion-avatar>
      <ion-label>
        <h1>Pramod Nepal</h1>
        <p>Gathered: <span class="money">$15,000</span></p>
      </ion-label>
    </ion-item>
  </ion-list>
 
  <app-pickup-call-card status="hold" updatedAt="17/03/2022 16:29"
   createdAt="24/03/2021" notes="we have two buys that are full, one with plastic and another one with glasses">
    <ion-card-header header>
      <ion-card-subtitle>Last pickup call</ion-card-subtitle>
    </ion-card-header>
    <ion-button color="success" fill="clear" size="full" footer>See all...</ion-button>
  </app-pickup-call-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
